<%- include('../partials/head') %>

<body class="bg-gray-100 min-h-screen flex flex-col">

    <%- include('../partials/nav') %>

    <!-- Form Container -->
    <div class="flex justify-center items-center flex-grow">
    

        <form action="/forgot-password" method="post"
              class="bg-white shadow-lg rounded-xl p-8 w-full max-w-md space-y-6">

            <h2 class="text-2xl font-bold text-blue-600 text-center">
                Forgot Password
            </h2>

            <% if(typeof errorMessages !=='undefined' && errorMessages){ %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mr-5"
            role="alert">
                <span class="block sm:inline"><%=errorMessages%></span>
            </div>
            <% }; %>
            <!-- Input Field -->
            <input 
                type="input" 
                name="email" 
                placeholder="Enter registered Email"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-400"
            >
            
            <!-- Submit Button -->
            <input 
                type="submit" 
                value="Send OTP"
                class="w-full bg-red-500 text-white py-3 rounded-lg font-semibold hover:bg-red-600 transition duration-200 cursor-pointer"
            >

        </form>

    </div>

</body>
</html>