<%- include('../partials/head') %>

<body class="bg-gray-100 min-h-screen flex flex-col">

    <%- include('../partials/nav') %>

    <!-- Form Container -->
    <div class="flex justify-center items-center flex-grow">
        <%- include('../partials/error-msg') %>
        <form action="/reset-password" method="post"
              class="bg-white shadow-lg rounded-xl p-8 w-full max-w-md space-y-6">

            <h2 class="text-2xl font-bold text-blue-600 text-center">
                Reset password
            </h2>

            <!-- Input Field -->
            <input 
                type="text" 
                name="email" 
                placeholder="Enter your Email"
                value="<%= typeof email !=='undefined' ? email : '' %>"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-400"
            >
            <input 
                type="text" 
                name="otp"
                placeholder="Enter OTP"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-400"
            >
            <input 
                type="password" 
                name="password" 
                placeholder="password"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-400"
            >
            <input 
                type="password" 
                name="confirm_password" 
                placeholder="confirm password"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-400"
            >
            <!-- Submit Button -->
            <input 
                type="submit" 
                value="Update Password"
                class="w-full bg-red-500 text-white py-3 rounded-lg font-semibold hover:bg-red-600 transition duration-200 cursor-pointer"
            >

        </form>

    </div>

</body>
</html>