<form action="/favorites" method="post">
    <button type="submit" class="absolute top-3 right-3 bg-white p-2 rounded-full shadow hover:scale-110 transition">
                            ❤️
    </button>
    <input type="hidden" name="homeId" value="<%=home._id%>">
</form>